---
import Layout from "../layouts/Layout.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Cards from "../components/Cards.astro";
import ButtonHand from "../components/ButtonHand.astro";
import Mapa from "../components/Mapa.astro"
---

<Layout
  title="Agua Purificada Máxima"
  description="Agua Máxima, fresca y pura gota a gota"
>
  <main class="px-4">
    <SectionContainer class="py-44 lg:w-[740px]" id="inicio">
      <h1
        class="text-3xl font-bold pb-6 flex flex-wrap gap-x-4 items-center md:text-4xl md:pb-8 lg:text-5xl lg:pb-10"
      >
        <span>Água Máxima,</span><span class="text-green-400">
          fresca y pura</span
        >
        gota a gota.
      </h1>
      <h2
        class="text-xl lg:text-2xl font-semibold md:text-2xl max-w-[700px] text-pretty"
      >
        Agrega tu dirección y descubre los servicios disponibles que tenemos
        para ti.
      </h2>

      <ButtonHand ref="#agregar-direcion" text="Agrega tu dirección" />
    </SectionContainer>

    <SectionContainer class="py-44 lg:w-[1080px]" id="sobre-nosotros">
      <h1
        class="text-3xl font-bold pb-6 flex flex-wrap gap-x-4 items-center md:text-4xl md:pb-8 lg:text-5xl lg:pb-10 justify-center"
      >
        ¿Por qué Agua Máxima?
      </h1>

      <Cards />
    </SectionContainer>

    <SectionContainer>
      <Mapa />
    </SectionContainer>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;

    max-width: calc(100% - 2rem);
    color: rgb(0, 0, 0);
    font-size: 20px;
    line-height: 1.6;
  }
</style>
