---
import HandPointerIcon from "./Icons/HandPointer.astro";
const { text, ref } = Astro.props;
---

<div class="py-12 grid place-items-end">
  <a href={ref}>
    <button
      type="button"
      class="text-white/90 bg-gradient-to-br from-green-400 to-blue-600 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-green-200 font-bold rounded-lg text-sm px-5 py-2.5 text-center"
      >{text} <HandPointerIcon class="size-4 md:size-5 inline-flex"/>
    </button>
  </a>
  <slot />
</div>
