<div class="grid gap-2 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3">
  <div
    class="bg-white border border-gray-200 rounded-lg shadow sm:pb-6 md:pb-8 lg:pb-10"
    id="osmosis-inversa"
  >
    <a href="#">
      <img class="rounded-t-lg" src="./public/project/svgl2.webp" alt="" />
    </a>
    <div class="p-5">
      <a href="#">
        <h2
          class="text-xl md:text-2xl lg:text-2xl font-semibold max-w-[700px] text-pretty"
        >
          Ósmosis inversa
        </h2>
      </a>
      <p class="mb-3 font-normal text-gray-700">
        Con ósmosis inversa, obtienes agua pura al instante. Elimina hasta el
        99% de impurezas para una hidratación segura y deliciosa.
      </p>
    </div>
  </div>

  <div
    class="bg-white border border-gray-200 rounded-lg shadow sm:pb-6 md:pb-8 lg:pb-10"
    id="luz-ultravioleta"
  >
    <a href="#">
      <img class="rounded-t-lg" src="./public/project/svgl2.webp" alt="" />
    </a>
    <div class="p-5">
      <a href="#">
        <h2
          class="text-xl md:text-2xl lg:text-2xl font-semibold max-w-[700px] text-pretty"
        >
          Luz ultravioleta
        </h2>
      </a>
      <p class="mb-3 font-normal text-gray-700">
        Con luz ultravioleta, tu agua alcanza un nivel superior de pureza y
        seguridad. La tecnología UV elimina eficazmente bacterias y virus,
        garantizando una hidratación completamente libre de microorganismos
        dañinos. ¡Disfruta de agua cristalina y saludable con la confianza de la
        desinfección UV!
      </p>
    </div>
  </div>

  <div
    class="bg-white border border-gray-200 rounded-lg shadow sm:pb-6 md:pb-8 lg:pb-10"
    id="ionizacion"
  >
    <a href="#">
      <img class="rounded-t-lg" src="./public/project/svgl2.webp" alt="" />
    </a>
    <div class="p-5">
      <a href="#">
        <h2
          class="text-xl md:text-2xl lg:text-2xl font-semibold max-w-[700px] text-pretty"
        >
          Ionización
        </h2>
      </a>
      <p class="mb-3 font-normal text-gray-700">
        Con ionización, tu agua alcanza un nivel incomparable de frescura y
        vitalidad. Disfruta de una hidratación enriquecida con iones
        revitalizantes que mejoran tu bienestar. ¡Siente la diferencia con cada
        sorbo!
      </p>
    </div>
  </div>
</div>
