<div id="cards-container" class="grid grid-cols-1 sm:grid-cols-3">
  <div
    class=" bg-white border border-gray-200 rounded-lg shadow mx-3 mt-6"
    id="osmosis-inversa"
  >
    <a href="#">
      <img class="rounded-t-lg" src="./public/project/svgl2.webp" alt="" />
    </a>
    <div class="p-6">
      <a href="#">
        <h2
          class="text-xl md:text-2xl lg:text-2xl font-semibold max-w-[700px] text-pretty"
        >
          Ósmosis inversa
        </h2>
      </a>
      <p class="text-xl text-gray-700 text-pretty">
        Con ósmosis inversa, obtienes agua pura al instante. Elimina hasta el
        99% de impurezas para una hidratación segura y deliciosa.
      </p>
    </div>
  </div>

  <div
    class="bg-white border border-gray-200 rounded-lg shadow mx-3 mt-6"
    id="luz-ultravioleta"
  >
    <a href="#">
      <img class="rounded-t-lg" src="./public/project/svgl2.webp" alt="" />
    </a>
    <div class="p-5">
      <a href="#">
        <h2
          class="text-xl md:text-2xl lg:text-2xl font-semibold max-w-[700px] text-pretty"
        >
          Luz ultravioleta
        </h2>
      </a>
      <p class="text-xl text-gray-700 text-pretty">
        Con luz ultravioleta, tu agua alcanza un nivel superior de pureza y
        seguridad.¡Disfruta de agua cristalina y saludable con la confianza de la
        desinfección UV!
      </p>
    </div>
  </div>

  <div
    class="bg-white border border-gray-200 rounded-lg shadow mx-3 mt-6"
    id="ionizacion"
  >
    <a href="#">
      <img class="rounded-t-lg" src="./public/project/svgl2.webp" alt="" />
    </a>
    <div class="p-5">
      <a href="#">
        <h2
          class="text-xl md:text-2xl lg:text-2xl font-semibold max-w-[700px] text-pretty"
        >
          Ionización
        </h2>
      </a>
      <p class="text-xl text-gray-700 text-pretty">
        Con ionización, tu agua alcanza un nivel incomparable de frescura y
        vitalidad. Disfruta de una hidratación enriquecida y siente la diferencia en cada
        sorbo.
      </p>
    </div>
  </div>

</div>
