<div class="grid sm:grid-cols-1 md:grid-cols-3 gap-2 lg:grid-cols-3">
  <div>
    <h1 class="text-xl lg:text-2xl font-semibold">Osmosis inversa</h1>
    <img
      class="h-auto max-w-full rounded-lg"
      src="./public/project/svgl2.webp"
      alt=""
    />
  </div>
  <div>
    <h1 class="text-xl lg:text-2xl font-semibold">Osmosis inversa</h1>
    <img
      class="h-auto max-w-full rounded-lg"
      src="./public/project/svgl2.webp"
      alt=""
    />
  </div>
  <div>
    <h1 class="text-xl lg:text-2xl font-semibold">Osmosis inversa</h1>
    <img
      class="h-auto max-w-full rounded-lg"
      src="./public/project/svgl2.webp"
      alt=""
    />
  </div>
</div>
