---
import '@fontsource-variable/onest';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Cards from '../components/Cards.astro';
interface Props {
	title: string;
	description: string;
}

const { description, title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="./public/project/svgl.webp" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="relative">
		<div class="absolute top-0 z-[-2] h-full w-full bg-white bg-[radial-gradient(100%_50%_at_50%_0%,rgba(0,163,255,0.13)_0,rgba(0,163,255,0)_50%,rgba(0,163,255,0)_100%)]"></div>
		<Header />
		<slot />
		<Footer />
	</body>
</html>
<style is:global>
	html {
		font-family: "Onest Variable", system-ui, sans-serif;
		scroll-behavior: smooth;
	}
	body {
		background: #000000;
		display: flex;
		flex-direction: column;
		min-height: 100vh;
	}

	@media (prefers-reduced-motion: reduce) {
		html {
			scroll-behavior: auto;
		}
	}
</style>
